@model IEnumerable<UPC.SisTictecks.EL.VehiculoEN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Vehículos</h2>

<p>
    @Html.ActionLink("Nuevo Vehículo", "Registrar")
</p>
<table class="table">
    <tr>       
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Placa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kilometros)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Anio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color.Color)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>        
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Placa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kilometros)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Anio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color.Color)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new {  id=item.Codigo })
            @Html.ActionLink("Detalle", "Detalles", new { id = item.Codigo }) |
            @Html.ActionLink("Eliminar", "Eliminar", new { id = item.Codigo })
        </td>
    </tr>
}

</table>
