@model UPC.SisTictecks.EL.CitaEN

@{
    ViewBag.Title = "DarAltaCita";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Alta de Cita</h2>
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <h4>Cita</h4>
        <hr />
        @Html.ValidationSummary()
        @Html.HiddenFor(model => model.Codigo)
        @Html.HiddenFor(model => model.Estado)
        @Html.HiddenFor(model => model.RangoHora)
        @Html.HiddenFor(model => model.Usuario.Apellidos)
        @Html.HiddenFor(model => model.Usuario.Nombres)
        @Html.HiddenFor(model => model.Usuario.Pass)
        @Html.HiddenFor(model => model.Usuario.Dni)
        @Html.HiddenFor(model => model.Usuario.Telefono)
        @Html.HiddenFor(model => model.Usuario.Correo)
        @Html.HiddenFor(model => model.Vehiculo.Placa)

        <div class="form-group">
            @Html.LabelFor(model => model.NroCita, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.NroCita, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Usuario.Usuario, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Usuario.Usuario, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fecha, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Fecha, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HoraInicio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.HoraInicio, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Servicio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Servicio.Descripcion, new { @class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Vehiculo.Descripcion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Vehiculo.Descripcion, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Taller, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Taller.Taller, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Observacion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Observacion, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dar Alta" class="btn btn-default" />
            </div>
        </div>

    </div>
}
<div>
    @Html.ActionLink("Volver", "ListaCitasEnAlta")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}