@model UPC.SisTictecks.EL.UsuarioEN

@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuario</h2>


@using (Html.BeginForm()) 
{
    <div class="form-horizontal">
        <h4>Nuevo</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Nombres, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombres)
                @Html.ValidationMessageFor(model => model.Nombres)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Apellidos, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Apellidos)
                @Html.ValidationMessageFor(model => model.Apellidos)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Usuario, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Usuario)
                @Html.ValidationMessageFor(model => model.Usuario)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pass, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pass)
                @Html.ValidationMessageFor(model => model.Pass)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Activo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Activo)
                @Html.ValidationMessageFor(model => model.Activo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PerfilId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PerfilId)
                @Html.ValidationMessageFor(model => model.PerfilId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Grabar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
