@using UPC.SisTictecks.EL;
@using UPC.SisTictecks.Helpers;
@using UPC.SisTictecks.Web;

@{
    var usuario = FachadaSesion.Usuario;
    ViewBag.Title = "SOATEAM";
    Layout = null;
}
<!DOCTYPE html>
<html lang="es-pe">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="SOATEAM">
    <title>@ViewBag.Title - CARSERVICES </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CAR SERVICES", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">@Html.ActionLink("Inicio", "Index", "Home")</li>
                    @if (FachadaSesion.EsAdministrador())
                    {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" id="dropdownCommonMenu" data-toggle="dropdown">Mantenimiento</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownCommonMenu">                    
                            <li role="menuitem">@Html.ActionLink("Usuarios", "Index", "Usuario")</li>
                            <li role="menuitem">@Html.ActionLink("Vehículo", "Index", "Vehiculo")</li>
                        </ul>
                    </li>
                    }
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" id="dropdownCommonMenu" data-toggle="dropdown">Atención</a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownCommonMenu">
							@if (!FachadaSesion.EsAdministrador())
							{
							<li role="menuitem">@Html.ActionLink("Registro de Servicio", "Index", "GestionCitas")</li>
                            <li role="menuitem">@Html.ActionLink("Mis Citas", "MisCitas", "GestionCitas")</li>
							<li role="menuitem">@Html.ActionLink("Historial De Citas ", "HistorialCitas", "GestionCitas")</li>
							}
							else
							{
							<li role="menuitem">@Html.ActionLink("Registro Alta de Servicio", "ListaCitasEnAlta", "GestionCitas")</li>
							}
                        </ul>
                    </li>
                    <li class="dropdown">@Html.ActionLink("Acerca", "About", "Home")</li>
                    <li class="dropdown">@Html.ActionLink("Contactos", "Contact", "Home")</li>
                </ul>

                @using (Html.BeginForm("Logout", "Login", FormMethod.Post, new { id = "frmCerrar" }))
                {
                    @Html.AntiForgeryToken()
                }
                
                <ul class="nav navbar-nav navbar-right">                    
                    <li><a href="javascript:document.getElementById('frmCerrar').submit()">@usuario.Perfil.Descripcion.ToUpper()  -  @usuario.Usuario - Cerrar Sesión</a></li>
                </ul>
                @*<ul class="nav navbar-nav navbar-right">
                    <p class="navbar-brand" style="font-size:small">Usuario: @usuario.Usuario</p>
                </ul>*@                
                

            </div>   
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Copyright SOATEAM </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
